@import "tailwindcss";

@theme {
  --color-netflix-red: #e50914;
  --color-netflix-red-hover: #b20710;
  --color-netflix-black: #141414;
  --color-netflix-dark: #181818;
  --color-netflix-gray: #808080;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #141414;
  color: #fff;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.movie-row::-webkit-scrollbar {
  display: none;
}

.movie-row {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
